<app-y-static-page-layout>
  <h2 class="cx-page-title">Specific My page subtitle</h2>
  <cx-page-slot [position]="'Section1'"></cx-page-slot>

  <div class="cx-landing-page-layout-container">
    <cx-page-slot [position]="'Section2A'" class="cx-landing-page-layout__slot-2"></cx-page-slot>
    <cx-page-slot [position]="'Section2B'" class="cx-landing-page-layout__slot-2"></cx-page-slot>
  </div>

  <cx-page-slot [position]="'Section2C'"></cx-page-slot>
  <cx-page-slot [position]="'Section3'"></cx-page-slot>

  <cx-page-slot [position]="'Section4'" class="cx-landing-page-layout__slot-4"></cx-page-slot>
  <cx-page-slot [position]="'Section5'"></cx-page-slot>

</app-y-static-page-layout>